# Môi trường ảo (Virtual Environments) - Rất nặng, tuyệt đối không đẩy lên Git
venv/
.venv/
env/
ENV/

# Bộ nhớ đệm biên dịch của Python (Byte-compiled / cache)
__pycache__/
*.py[cod]
*$py.class

# Cấu hình IDE / Editor
.vscode/
.idea/

# File tạm của Jupyter Notebook (nếu sau này bạn dùng)
.ipynb_checkpoints/

# File rác của hệ điều hành (Windows / macOS)
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# File log và môi trường biến (.env)
*.log
.env
